/media/
wenv
venv
__pycache__
__pycache__/
*.pyc
data/*
*/migrations/*.py
!*/migrations/__init__.py
.DS_Store
.python-version
rnd/*
launch.json
.env
test/
well-known/*
.sqlite
*.sqlite3
rnd/*
*.log
*.pot
*.db